.header {
    background-color: white;

    &__logo {
        margin-left: 30px;
        margin-top: 15px;


        .nav {

            ul {

                display: flex;
                justify-content: space-between;
                margin-left: 550px;
                font-size: 20px;

                li {

                    margin: 5px;
                    margin-right: 10px;
                    margin-left: 10px;

                    &:hover {
                        border-radius: 20px;
                        background-color: rgb(142, 207, 235);
                        margin-bottom: 20px;
                    }
                }

            }

        }
    }
}




