@media (max-width: $mobile) {
    .header {
        background-color: white;

        .nav {

            li {
                border-radius: 20px;

                &:hover {
                    background-color: rgb(255, 245, 109);
                }
            }



        }

    }
}


@media (max-width: $desktop) {

    .nav {

        ul {

            display: flex;
            justify-content: space-between;
            margin-left: 550px;
            font-size: 20px;

            li {

                margin: 5px;
                margin-right: 10px;
                margin-left: 10px;

                &:hover {
                    border-radius: 20px;
                    background-color: rgb(142, 207, 235);
                    margin-bottom: 20px;
                }
            }

        }

    }
}

