.section {

    &__contenedor {
        display: flex;
        height: 80px;
        padding: 10px;
        margin: 40px;
        margin-top: 20px;
        object-fit: cover;
        color: rgb(248, 137, 196);
        align-items: center;
        justify-content: space-around;
        background: $colorSection;
        box-shadow: $sombreado;

        h2 {
            font: {
               
                family: 'Oswald', sans-serif;
                size: 50px;
            }
        }
    }

    &__videos {

        box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    }
  
    div.img-fluid {
        
        box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);

    }
 

}




