$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;


$colorSection: linear-gradient(to right, #e0eafc, #cfdef3);
$sombreado: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);






